@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Gidole&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.colored-text-purple {
  color: #8251b6;
}

.colored-text-blue {
  color: #6184d1;
}

.step {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.muted {
  color: #6b7280;
}

.grid-2 {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 50px;
}

.grid-2 h4 {
  color: #8251b6;
}

.progress {
  height: 8px;
  background: #eeeeee;
  border-radius: 999px;
  overflow: hidden;
}

.progress > div {
  width: 100%;
  height: 100%;
  animation: indeterminate 1.2s infinite linear;
  background: linear-gradient(90deg, transparent 0%, #93c5fd 50%, transparent 100%);
}

@keyframes indeterminate {
  0% 
  {
    transform: translateX(-100%);
  }
  100% 
  {
    transform: translateX(100%);
  }
}

.hidden {
  display: none;
}

canvas {
  max-height: 360px;
}

.kv {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #8251b6;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
}

button:hover {
  background-color: #6184d1;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-item .nav-link {
  color: #000000;
  font-weight: normal;
}

.nav-link:hover {
  color: #8251b6;
}

.navbar-brand img {
  width: 30px
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  line-height: 60px;
}

